@model  List<PromoVenta.BL.Producto>

@{
    ViewBag.Title = "INICIO";
}

<header>
    <nav class="navbar-top">
        <ul class="navbar-top-ul">
            <li class="navbar-top-item">
                <a href="login.html" class="navbar-top-links">Registro</a>
            </li>
            <li class="navbar-top-item">
                <a href="login.html" class="navbar-top-links">Iniciar sesión</a>
            </li>
            <li class="navbar-top-item">
                <a href="#" class="navbar-top-links">
                    <i class="zmdi zmdi-shopping-cart"></i> Pedidos
                    <!-- <i class="zmdi zmdi-chevron-down"></i> -->
                </a>
            </li>
        </ul>
    </nav>
    <nav class="navbar-cover">
        <!--n-->
    <nav class="nav-menu" id="mySidenav">
        <form class="form-group " action="#">
            <div class="form-group-container">
                <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                <input type="text" class="form-group-input" placeholder="Buscar...">
            </div>
        </form>
        <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" href="index.html">PromoVentas</a>
            <ul class="nav-menu-ul">
                <li class="nav-menu-item" id="Productos">
                    <a class="nav-menu-link link-submenu active" href="#">
                        Productos <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <div class="container-sub-menu">
                        <ul class="sub-menu-ul">
                            <li class="nav-menu-item ">
                                <a class="nav-menu-link" href="#">
                                    <strong>Categorias</strong>
                                    <i class="zmdi zmdi-chevron-down "></i>
                                </a>
                                <ul class="sub-menu-ul">
                                    <li class="nav-menu-item"><a class="nav-menu-link" href="#">Alimentos</a></li>
                                    <li class="nav-menu-item"><a class="nav-menu-link" href="#">Bebidas</a></li>
                                    <li class="nav-menu-item"><a class="nav-menu-link" href="#">Accesorios</a></li>
                                    <li class="nav-menu-item"><a class="nav-menu-link" href="#">Producto de limpieza</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="ads is-hidden-touch">
                            <h1 class="ads-h1">PromoVentas te ofrece</h1>
                            <h2 class="ads-h2">Los mejores precios</h2>
                        </div>
                    </div>
                </li>
                <li class="nav-menu-item" id="Pedidos">
                    <a class="nav-menu-link link-submenu active" href="#">
                        Pedidos <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <div class="container-sub-menu">
                        <ul class="sub-menu-ul">
                            <li class="nav-menu-item ">
                                <a class="nav-menu-link" href="#">
                                    <strong>Ver Pedidos</strong>
                                    <i class="zmdi zmdi-chevron-down "></i>
                                </a>
                                <ul class="sub-menu-ul">
                                    <li class="nav-menu-item"><a class="nav-menu-link" href="#">pedido</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="ads is-hidden-touch">
                            <h1 class="ads-h1">PromoVentas te ofrece</h1>
                            <h2 class="ads-h2">Accecibilidad y Rapidez</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </nav>
</header>
<!-- Banner -->
<div class="banner">
    <div class="banner-container">
        <h1 class="title"><font size="15">PromoVentas</font></h1>
        <a class="btn btn-default">Crear Pedidos</a>
    </div>
</div>
<!-- Barra de navegacion secundaria -->
<div class="container">
    <nav class="nav">
        <a class="nav-item active has-text-weight-semibold" href="#">Productos</a>
        <a class="nav-item has-text-weight-semibold" href="#">Categorias</a>
    </nav>
</div>
<!-- Sección de fotografías -->
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-full-mobile">
            <div class="columns is-centered is-mobile is-multiline">
                <!-- 1 Sección de fotografías -->
                <div class="column is-half column-full">
                    <div class="card">
                        <span class="price">$89.99</span>
                        <img src="~/img/item-1.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                Women's Burnt Orenge
                                Casual TEE $89.99
                            </h4>
                            <p class="has-text-centered">
                                Classic casual t-shirt for women on the move.
                                100%
                                cotton.
                            </p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">$47.50</span>
                        <img src="~/img/item-2.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                Women's Burnt Orenge
                                Casual TEE $47.50
                            </h4>
                            <p class="has-text-centered">
                                Classic casual t-shirt for women on the move.
                                100%
                                cotton.
                            </p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-full">
                    <div class="card">
                        <span class="price">$65.95</span>
                        <img src="~/img/item-3.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                Women's Burnt Orenge
                                Casual TEE $65.95
                            </h4>
                            <p class="has-text-centered">
                                Classic casual t-shirt for women on the move.
                                100%
                                cotton.
                            </p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda sección de fotografías -->
        <div class="column is-half is-full-mobile">
            <div class="columns is-mobile is-multiline">
                <div class="column is-full">
                    <div class="card">
                        <span class="price"><strike>$107</strike> $89.99</span>
                        <img src="~/img/item-4.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                Women's Burnt Orenge
                                Casual TEE $89.99
                            </h4>
                            <p class="has-text-centered">
                                Classic casual t-shirt for women on the move.
                                100%
                                cotton.
                            </p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">$29.99</span>
                        <img src="~/img/item-5.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                Women's Burnt Orenge
                                Casual TEE $29.99
                            </h4>
                            <p class="has-text-centered">
                                Classic casual t-shirt for women on the move.
                                100%
                                cotton.
                            </p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">$34.79</span>
                        <img src="~/img/item-6.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                Women's Burnt Orenge
                                Casual TEE $34.79
                            </h4>
                            <p class="has-text-centered">
                                Classic casual t-shirt for women on the move.
                                100%
                                cotton.
                            </p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-full">
    <div class="columns is-centered is-multiline">
        <div class="column is-full">
            <div class="separator"></div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="~/img/lookbook-men.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Productos</h1>
                    <p class="has-text-right">            
                        Encuentra toda la variedad de nuestros productos
                    </p>
                    <div>
                        <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
